.maindivHeader {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-collapse: collapse;
  background: black;
}
.maindiv {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-collapse: collapse;
  flex-grow: inherit;
  background: black;
}
.font-16 {
  font-size: 16px;
  font-weight: 40px;
  width: 10vw;
  color: white;
}
.font-20 {
  font-size: 20px;
  font-weight: 40px;
  font-weight: bold;
  color: white;
}

.maindiv,
.maindivHeader {
  border: 1px solid rgb(186, 183, 183);
  padding: 1rem;
}
.loader {
  color: black;
  font-size: 60px;
  font-weight: 60px;
}

.topBtn {
  position: fixed;
  padding: 1rem, 2rem;
  font-size: 20px;
  right: 40px;
  background-color: aqua;
  color: white;
  text-align: center;
  bottom: 40px;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
